/* Estilos CSS para a página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo */
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    text-align: center;
    color: #3498db; /* Cor do título */
}

.subtitulo {
    margin-top: 20px;
    color: #040404; /* Cor dos subtítulos */
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-cadastrar {
    background-color: #27ae60; /* Cor do botão */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cadastrar:hover {
    background-color: #219a52; /* Cor do botão ao passar o mouse */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
